* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #dff0fa;
  font-family: Arial, Helvetica, sans-serif;
}

#calcMain {
  width: 90%;
  max-width: 500px;
  margin: auto;
  border: 3px solid gray;
  border-radius: 10px;
}

#calcDisplay {
  width: 100%;
  height: 45px;
  padding: 5px;
  margin: auto;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  text-align: right;
  font-size: 30px;
}

#calcBody {
  width: 100%;
}

#calcNums {
  width: 100%;
  height: 270px;
}

.num, #clear, .op, #cequal {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.num, .op, #cequal {
  font-size: 20px;
}

.num {
  border: 1px solid #404040;
}

.num:hover {
  background-color: #404040;
  color: white;
}

.op {
  background-color: #8fef8f;
  border: 1px solid #008f00;
}

.op:hover {
  background-color: #008f00;
  color: white;
}

#clear {
  font-size: 25px;
  background-color: #df7070;
  border: 1px solid #8f0000;
}

#clear:hover {
  background-color: #8f0000;
  color: white;
}

#cequal {
  background-color: #8f8ffe;
  border: 1px solid navy;
}

#cequal:hover {
  background-color: navy;
  color: white;
}